ul.tasklist{
  list-style: none;
  margin-left: 10px;
  cursor: cursor;
}

ul.tasklist li, ul.tasklist-done li{
  list-style: none;
  background-image: url('/static/plugins/ep_tasklist/static/img/checkbox.png');
  background-repeat: no-repeat;
  padding-left: 1.5em;
  cursor: text;
}

.tasklist li{
  background-position: 0 3px;
}

.tasklist-done li{
  background-position: 0 -12px;
  opacity: .6;
}
