li.tasklist{
  list-style: none;
  cursor: pointer;
  margin-left:5px;
}

li.tasklist, li.tasklist-done{
  list-style: none;
  background-image: url('/static/plugins/ep_tasklist/static/img/checkbox.png');
  background-repeat: no-repeat;
  padding-left: 1.5em;
}

.tasklist{
  background-position: 0 3px;
}

.tasklist-done{
  background-position: 0 -12px;
  opacity: .6;
}
