li.tasklist-not-done, li.tasklist-done{
  list-style: none;
  background-repeat: no-repeat;
  padding-left: 1.5em;
  cursor: pointer;
}

.tasklist-not-done{
  background-image: url('/static/plugins/ep_tasklist/static/img/tasklist.png');
  background-position:2px 2px;
}

.tasklist-done{
  opacity: .6;
  background-image: url('/static/plugins/ep_tasklist/static/img/tasklist-done.png');
  background-position:2px 2px;
}
